<div class="row">
  <div class="col-sm-8">

    <%= render '/collections/status_form', user: user, collection: collection %>

  </div>

  <% if collection.status == "Reading" %>
    <div class="col-sm-4">

      <%= render '/collections/last_read_form', user: user, collection: collection %>

    </div>
  <% end %>
</div>
