<div class="row">
  <div class="col-sm-8 status">

    <%= render '/collections/status_form', user: user, collection: collection %>

  </div>

  <div class="col-sm-4 reading">
    <% if collection.status == "Reading" %>

      <%= render '/collections/last_read_form', user: user, collection: collection %>

    <% end %>
  </div>
</div>
