<div class="row">
  <div class="col-sm-12">
    <h2>All Manga</h2>
  </div>
</div>

<div class="row">
  <% @manga.each do |manga| %>
    <div class="col-sm-4 center">
      <h3><%= link_to manga.title, manga_path(manga) %></h3>
      <p>by <%= link_to manga.author.name, author_path(manga.author) %></p>
      <p>Status: <%= manga.status %></p>
    </div>
  <% end %>
</div>
