<div class="row">
  <div class="col-sm-4"></div>
  <div class="col-sm-4">

    <p class="center">Login with <%= render '/session/fb_button' %></p>
    <p class="center">Or</p>
    <%= render '/session/login_form' %>

  </div>
  <div class="col-sm-4"></div>
</div>
