<div class="row">
  <div class="col-sm-12">
    <h2>All Authors</h2>
  </div>
</div>

<div class="row">
  <% @authors.each do |author| %>
    <div class="col-sm-4 center">
      <div class="bordered">
        <h3><%= link_to author.name, author_path(author) %></h3>
        <ul class="list-group">
          <% author.mangas.limit(3).each do |manga| %>
            <li class="list-group-item"><%= link_to manga.title, manga_path(manga) %></li>
          <% end %>
        </ul>
      </div>
    </div>
  <% end %>
</div>
