<div class="row">
  <div class="col-sm-10">
    <h2><%= @author.name %></h2>
  </div>

  <div class="col-sm-2">
    <h2><%= render '/manga/new_button', author: @author %></h2>
  </div>
</div>

<%= render 'manga/list_manga', mangas: @author.mangas %>
