<% if @user.errors.any? %>

  <div id="error_explanation">
    <p><%= @user.errors.full_messages.join(". ") %>.</p>
  </div>

<% end %>

<div class="row">
  <div class="col-sm-4"></div>
  <div class="col-sm-4">

    <p class="center">Sign Up with <%= render '/session/fb_button' %></p>
    <p class="center">Or</p>
    <%= render '/users/registration_form', user: @user %>

  </div>
  <div class="col-sm-4"></div>
</div>
