<h2><%= @user.name %>'s Manga</h2>

<table class="table">
  <tr class="info">
    <th><strong>Title</strong></th>
    <th><strong>Rating</strong></th>
    <th><strong>Your Rating</strong></th>
    <th></th>
  </tr>
  <% @user.collections.each do |collection| %>
    <tr>
      <td><%= link_to collection.manga.title, user_collection_path(@user, collection) %></td>
      <td></td>
      <td><%= collection.status %></td>
      <td><%= collection.rating %></td>
    </tr>
  <% end %>
</table>
